// 黑色.
$black-000000: #000000;
$black-1d1d1f: #1d1d1f;
$black-1f1f1f: #1f1f1f;
// 白色.
$white-ffffff: #ffffff;
$white-d6d6d5: #d6d6d5;
$white-cccccc: #cccccc;
$white-f3f3f3: #f3f3f3;
$white-cdcdcd: #cdcdcd;
$white-f4f4f4: #f4f4f4;
$white-f5f5f7: #f5f5f7;
$white-fbfbfd: #fbfbfd;
// 灰色.
$gray-333333: #333333;
$gray-424245: #424245;
$gray-999999: #999999;
$gray-ceced0: #ceced0;
$gray-6e6e73: #6e6e73;
$gray-86868b: #86868b;
// 藍色.
$blue-0071e3: #0071e3;
$blue-0066cc: #0066cc;
$blue-a7c1d9: #a7c1d9;
// 黃色.
$yellow-ffe701: #ffe701;
// 綠色.
$green-03a10e: #03a10e;
// 銀色.
$silver-f1f2ed: #f1f2ed;
// 金色.
$gold-fae7cf: #fae7cf;
// 石墨色.
$graphite-54524f: #54524f;
// 斷點.
$view-width-md: 734px;
$view-width-lg: 1068px;
