<section
  class="section-manifesto"
  v-offset-rect="true"
  v-view-flag="windowCenter"
  v-video-play="windowCenter"
>
  <div class="video-container">
    <video
      src="../../../public/videos/section-manifesto-small.mp4"
      class="video"
      muted="muted"
      loop="loop"
    ></video>
  </div>

  <div class="content-container">
    <!-- 主要特點. -->
    <ul class="key-features">
      <li v-offset-rect="true" v-active="windowCenter">
        Pro 相機系統，威力驚人提升。
      </li>
      <li v-offset-rect="true" v-active="windowCenter">
        顯示器反應超靈敏，讓體驗全面更新。
      </li>
      <li v-offset-rect="true" v-active="windowCenter">
        全世界最快速的智慧型手機晶片。
      </li>
      <li v-offset-rect="true" v-active="windowCenter">
        全世界最快速的智慧型手機晶片。
      </li>
      <li v-offset-rect="true" v-active="windowCenter">
        耐用度格外出色。
      </li>
      <li v-offset-rect="true" v-active="windowCenter">
        電池續航力更是大幅躍升。
      </li>
    </ul>

    <!-- 排版區. -->
    <div
      class="typography-container"
      v-offset-rect="true"
      v-active="windowCenter"
    >
      <!-- 大型排版. -->
      <p class="typography-super">一起來 Pro。</p>

      <!-- 正常排版. -->
      <p class="typography-text">9 月 24 日開始發售。</p>
      <!-- 正常排版. -->
      <p class="typography-text">
        NT$32,900 起，或每月 NT$2,741 起；換購另享折抵優惠
      </p>
      <!-- 正常排版. -->
      <p class="typography-text">
        現僅供<span>線上預訂</span>，可選擇免額外付費運送服務，或到 Apple
        直營店取貨。
      </p>

      <!-- 連結區. -->
      <ul class="typography-links">
        <!-- 正常排版. -->
        <li><a href="javascript:;" class="typography-text">觀看影片</a></li>
        <!-- 正常排版. -->
        <li><a href="javascript:;" class="typography-text">觀看特別活動</a></li>
      </ul>
    </div>
  </div>
</section>
