@import "../../assets/style/variable.scss";

// 考慮到需要手寫 RWD 樣式, 盡可能減少樣式權限深度.

// 頁面頂部的 menu 區域.
.nav-bar {
  padding-top: 3rem;

  // 在 menu 打開時, 執行動畫的容器.
  .position-container {
    width: 100%;
    height: 3rem;
    background-color: $dark-gray;
    transition: height 0.6s $nav-bar-cubic-bezier-transform 0s,
      background-color 0.2s $nav-bar-cubic-bezier-color 0.4s;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    overflow: hidden;

    &.menu {
      height: 100%;
      background-color: $black;
      transition: height 0.6s $nav-bar-cubic-bezier-transform 0s,
        background-color 0.4s $nav-bar-cubic-bezier-color 0s;
    }
  }

  // 在 search input focus 時, 執行動畫的容器.
  .content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s $nav-bar-cubic-bezier-transform 0s,
      height 0.4s $nav-bar-cubic-bezier-transform 0s;
    transform: translateY(0px);

    &.focus {
      height: calc(100% + 3rem);
      transform: translateY(-3rem);
    }
  }

  // icons 的容器.
  .icons-container {
    flex: 0 0 auto;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // 配合 justify-content: space-between; 的容器.
    .justify-between-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .icon-style {
      padding: 0 1rem;
      font-size: 0.8rem;
      color: $white;
      display: block;

      &::before {
        display: block;
      }
    }

    .flaticon-apple,
    .flaticon-bag {
      font-size: 1.2rem;
    }

    .flaticon-bag {
      transition: opacity 0.2s ease-out 0.4s;
      opacity: 1;

      &.menu {
        transition: opacity 0.4s ease-out 0s;
        opacity: 0;
      }
    }
  }

  // 搜尋的容器.
  .search-container {
    flex: 0 0 auto;
    padding: 1rem 0.625rem 1rem;

    // 依照 parents padding 限制寬度的 relative 容器.
    .padding-container {
      position: relative;
    }

    // search input.
    .search {
      padding: 0.5rem 2rem;
      width: 100%;
      box-sizing: border-box;
      background-color: $nav-bar-search-input-background-color;
      border-radius: 0.5rem;
      font-size: 1rem;
      color: $white;
      transition: width 0.4s $nav-bar-cubic-bezier-transform 0s;
      position: relative;
      left: 0px;
      top: 0px;
      z-index: 1;

      &.focus {
        width: calc(100% - 3rem);
        z-index: 0;
      }
    }

    // search 放大鏡.
    .flaticon-loupe,
    // search 取消.
    .search-close {
      font-size: 1rem;
      opacity: 0;
      position: absolute;
      top: 50%;
    }

    // search 放大鏡.
    .flaticon-loupe {
      color: $white;
      transform: translate(0.5rem, -50%);
      position: absolute;
      left: 0px;
    }

    // search 取消.
    .search-close {
      padding: 0 0.25rem;
      color: $nav-bar-search-close-color;
      transform: translate(0, -50%);
      right: 0px;
    }

    &.focus {
      .search {
        width: calc(100% - 3rem);
        z-index: 0;
      }

      // search 放大鏡.
      .flaticon-loupe,
      // search 取消.
      .search-close {
        opacity: 1;
        transition: opacity 0.3s $nav-bar-cubic-bezier-transform 0.4s;
      }
    }
  }

  // 導覽列表容器.
  .list-container {
    flex: 1 1 auto;
    overflow: auto;
    border-top: 1px solid $nav-bar-list-border-color;
    position: relative;

    .transition-container {
      height: 100%;
    }

    .list {
      li {
        padding: 1rem 0;
        font-size: 1rem;
        color: $nav-bar-list-color;
        border-bottom: 1px solid $nav-bar-list-border-color;

        &:last-child {
          border-bottom-color: transparent;
        }
      }
    }

    .blur-container,
    .focus-container {
      padding: 0px 2.5rem;
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      left: 0px;
      top: 0px;
    }

    .focus-container {
      h3 {
        padding: 1.5rem 0;
        font-size: 0.8rem;
        color: $dark-gray;
      }

      .list li:first-child {
        padding-top: 0;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

// 進場前的樣式.
.list-focus-enter,
// 離場結束的樣式.
.list-focus-leave-to {
  opacity: 0;
}
// 進場結束的樣式.
.list-focus-enter-to,
// 離場前的樣式.
.list-focus-leave {
  opacity: 1;
}
// 進場動畫.
.list-focus-enter-active,
// 離場動畫.
.list-focus-leave-active {
  transition: opacity 0.4s $nav-bar-cubic-bezier-transform 0s;
}
