<nav class="nav-bar">
  <div class="position-container" :class="{ menu: isMenu }">
    <div class="content-container" :class="{ focus: isFocus }">
      <!-- icons 區域. -->
      <div class="icons-container">
        <div class="justify-between-container">
          <button @click="$emit('setMenu', !isMenu)">
            <i
              class="icon-style"
              :class="{ 'flaticon-menu': !isMenu, 'flaticon-cancel': isMenu }"
            ></i>
          </button>
        </div>

        <div class="justify-between-container">
          <i class="icon-style flaticon-apple"></i>
        </div>

        <div class="justify-between-container">
          <i class="icon-style flaticon-bag" :class="{ menu: isMenu }"></i>
        </div>
      </div>

      <!-- 搜尋區域. -->
      <div class="search-container" :class="{focus: isFocus}">
        <div class="padding-container">
          <input type="text" class="search" @focus="searchFocusHandler" />

          <i class="flaticon-loupe"></i>

          <button class="search-close" @click="$emit('setFocus', false)">
            取消
          </button>
        </div>
      </div>

      <!-- 導航列表. -->
      <div class="list-container">
        <transition-group
          name="list-focus"
          tag="div"
          class="transition-container"
        >
          <div class="blur-container" key="blur" v-show="!isFocus">
            <ul class="list">
              <li>商店</li>
              <li>MAC</li>
              <li>iPad</li>
              <li>iPhone</li>
              <li>Watch</li>
              <li>TV</li>
              <li>Music</li>
              <li>支援服務</li>
            </ul>
          </div>

          <div class="focus-container" key="focus" v-show="isFocus">
            <h3>快速連結</h3>
            <ul class="list">
              <li>尋找直營店</li>
              <li>Apple 直營店線上選購</li>
              <li>配件</li>
              <li>AirPosd</li>
              <li>AirTag</li>
            </ul>
          </div>
        </transition-group>
      </div>
    </div>
  </div>
</nav>
