@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?f66b5cdd638c16b9c483ac98143bb980") format("truetype"),
url("./flaticon.woff?f66b5cdd638c16b9c483ac98143bb980") format("woff"),
url("./flaticon.woff2?f66b5cdd638c16b9c483ac98143bb980") format("woff2"),
url("./flaticon.eot?f66b5cdd638c16b9c483ac98143bb980#iefix") format("embedded-opentype"),
url("./flaticon.svg?f66b5cdd638c16b9c483ac98143bb980#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-cancel:before {
    content: "\f101";
}
.flaticon-bag:before {
    content: "\f102";
}
.flaticon-apple:before {
    content: "\f103";
}
.flaticon-loupe:before {
    content: "\f104";
}
.flaticon-menu:before {
    content: "\f105";
}
