@import "../../assets/style/variable.scss";

.section-design {
  min-height: $view-min-height * 8;
  height: 800vh;

  .module-container {
    padding-top: 3rem;
    height: 12.5%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }

  // 尺寸介紹, 可能需要再修改.
  .variable-container {
    position: sticky;
    left: 0px;
    top: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // 將 pro-max-container pro-container 置中.
    .design-container {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    }

    .pro-max-container,
    .pro-container {
      display: flex;

      .content-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .spec-container {
        opacity: 0;

        .spec {
          padding: 0.75rem 0 2rem 0;
          font-size: 2rem;
          font-weight: 700;
        }
      }

      .image-container {
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .pro-max-container {
      justify-content: flex-end;

      .content-container {
        transform: translateX(40%);
      }

      .image-container {
        width: 194px;
        height: 392px;
      }
    }

    .pro-container {
      align-items: flex-start;

      .content-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transform: translateX(-40%);
      }

      .image-container {
        width: 177px;
        height: 356px;
      }
    }

    .headline-container {
      padding-top: 2rem;
      text-align: center;

      p {
        line-height: 1.5;
      }
    }
  }

  // 背蓋顏色輪播圖.
  .color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $section-design-carousel-background-color;

    .carousel-container {
      width: 100%;
      position: relative;
      overflow: hidden;
    }

    .transform-container {
      padding-bottom: 2rem;
      width: 100%;
      font-size: 0px;
      white-space: nowrap;
      transform: translateX(0%);
      transition: transform 0.4s ease;

      .carousel-item-container {
        width: 100%;
        display: inline-block;
        text-align: center;
      }

      .image-container {
        display: inline-block;
        width: 210px;

        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .buttons-container {
      padding-bottom: 2rem;

      .list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
      }

      li {
        padding-right: 1rem;

        &:last-child {
          padding-right: 0px;
        }
      }

      button {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 1rem;

        &.sierra-button {
          background-color: $section-design-color-sierra;
        }

        &.silver-button {
          background-color: $section-design-color-silver;
        }

        &.gold-button {
          background-color: $section-design-color-gold;
        }

        &.graphite-button {
          background-color: $section-design-color-graphite;
        }
      }
    }

    .text-container {
      p {
        color: $section-design-font-color;
        text-align: center;
        line-height: 1.5;
      }

      .current {
        font-weight: 700;
        color: $black;
      }
    }
  }

  // 背蓋特寫.
  .finishes-container {
    background-color: $black;
    position: relative;

    .transition-container {
      width: 90%;
      height: 80%;
      overflow: hidden;
      position: absolute;
      right: 0px;
      bottom: 0px;
    }

    .image-container {
      width: 100%;
      height: 100%;
      position: absolute;

      img {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: right bottom;
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    }
  }

  // 邊框材質.
  .steel-container {
    background-color: $section-design-steel-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .image-container {
      height: 80%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .text-container {
      text-align: center;
      font-weight: 700;
    }
  }

  // 邊框特寫.
  .steel-big-container {
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .image-container {
      height: 90%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }

  // 面板材質.
  .ceramic-shield-container {
    background-color: $section-design-steel-background-color;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .image-container {
      height: 80%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .text-container {
      text-align: center;
      font-weight: 700;
      line-height: 1.5;
    }
  }

  // 面板影片.
  .ceramic-shield-video-container {
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .video-container {
      max-width: 90%;
      height: 90%;

      .video {
        max-width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  // 防水材質.
  .resistant-container {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .image-container {
      height: 70%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .text-container {
      text-align: center;
      font-weight: 700;
      line-height: 1.5;
    }
  }
}

// 進場前的樣式.
.finishes-enter,
// 離場結束的樣式.
.finishes-leave-to {
  opacity: 0;
}
// 進場結束的樣式.
.finishes-enter-to,
// 離場前的樣式.
.finishes-leave {
  opacity: 1;
}
// 進場動畫.
.finishes-enter-active,
// 離場動畫.
.finishes-leave-active {
  transition: opacity 0.4s ease 0s;
}
