<section
  class="section-design"
  v-offset-rect="true"
  v-view-flag="windowCenter"
  v-variable="windowCenter"
>
  <!-- 尺寸介紹. -->
  <div class="module-container variable-container">
    <div class="design-container">
      <div class="pro-max-container">
        <div class="content-container">
          <div class="spec-container">
            <p class="name">iPhone 13 Pro Max</p>
            <p class="spec">6.7 吋</p>
          </div>

          <div class="image-container">
            <img
              src="../../../public/images/section-design-pro-max-large-2x.png"
              alt="pro-max"
            />
          </div>
        </div>
      </div>

      <div class="pro-container">
        <div class="content-container">
          <div class="spec-container">
            <p class="name">iPhone 13 Pro</p>
            <p class="spec">6.1 吋</p>
          </div>

          <div class="image-container">
            <img
              src="../../../public/images/section-design-pro-max-large-2x.png"
              alt="pro"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="headline-container">
      <p>超 Retina XDR 顯示器</p>
      <p>具備 ProMotion 自動適應更新頻率技術</p>
    </div>
  </div>

  <!-- 背蓋顏色輪播圖. -->
  <div class="module-container color-container">
    <div class="carousel-container">
      <div class="transform-container" :style="{transform: translateX}">
        <div class="carousel-item-container">
          <div class="image-container">
            <img
              src="../../../public/images/section-design-sierra-large-2x.jpg"
              alt="sierra"
            />
          </div>
        </div>

        <div class="carousel-item-container">
          <div class="image-container">
            <img
              src="../../../public/images/section-design-silver-large-2x.jpg"
              alt="silver"
            />
          </div>
        </div>

        <div class="carousel-item-container">
          <div class="image-container">
            <img
              src="../../../public/images/section-design-gold-large-2x.jpg"
              alt="gold"
            />
          </div>
        </div>

        <div class="carousel-item-container">
          <div class="image-container">
            <img
              src="../../../public/images/section-design-graphite-large-2x.jpg"
              alt="graphite"
            />
          </div>
        </div>
      </div>

      <div class="buttons-container">
        <ul class="list">
          <li>
            <button class="sierra-button" @click="index = 0"></button>
          </li>

          <li>
            <button class="silver-button" @click="index = 1"></button>
          </li>

          <li>
            <button class="gold-button" @click="index = 2"></button>
          </li>

          <li>
            <button class="graphite-button" @click="index = 3"></button>
          </li>
        </ul>
      </div>

      <div class="text-container">
        <p>
          <span :class="{current: index === 0}">天峰藍色</span>、<span
            :class="{current: index === 1}"
            >銀色</span
          >、<span :class="{current: index === 2}">金色</span>與<br /><span
            :class="{current: index === 3}"
            >石墨色</span
          >
        </p>
      </div>
    </div>
  </div>

  <!-- 背蓋特寫. -->
  <div class="module-container finishes-container">
    <transition-group tag="div" name="finishes" class="transition-container">
      <div class="image-container" key="sierra" v-show="index === 0">
        <img
          src="../../../public/images/section-design-finishes-sierra-small-2x.jpg"
          alt="sierra"
        />
      </div>

      <div class="image-container" key="silver" v-show="index === 1">
        <img
          src="../../../public/images/section-design-finishes-silver-small-2x.jpg"
          alt="silver"
        />
      </div>

      <div class="image-container" key="gold" v-show="index === 2">
        <img
          src="../../../public/images/section-design-finishes-gold-small-2x.jpg"
          alt="gold"
        />
      </div>

      <div class="image-container" key="graphite" v-show="index === 3">
        <img
          src="../../../public/images/section-design-finishes-graphite-small-2x.jpg"
          alt="graphite"
        />
      </div>
    </transition-group>
  </div>

  <!-- 邊框材質. -->
  <div class="module-container steel-container">
    <div class="image-container">
      <img
        src="../../../public/images/section-design-steel-large-2x.jpg"
        alt="steel"
      />
    </div>

    <div class="text-container">
      <p>醫療級特製不鏽鋼</p>
    </div>
  </div>

  <!-- 邊框特寫. -->
  <div class="module-container steel-big-container">
    <div class="image-container">
      <img
        src="../../../public/images/section-design-steel-big-large-2x.jpg"
        alt="steel-big"
      />
    </div>
  </div>

  <!-- 面板材質. -->
  <div class="module-container ceramic-shield-container">
    <div class="image-container">
      <img
        src="../../../public/images/section-design-ceramic-shield-large-2x.jpg"
        alt="ceramic-shield"
      />
    </div>

    <div class="text-container">
      <p>超瓷晶盾，比其他智慧型手機的<br />玻璃更堅固</p>
    </div>
  </div>

  <!-- 面板影片. -->
  <div class="module-container ceramic-shield-video-container">
    <div class="video-container">
      <video
        class="video"
        src="../../../public/videos/section-design-small-2x.mp4"
        muted="muted"
        v-offset-rect="windowCenter"
        v-view-flag="windowCenter"
        v-video-play="true"
      ></video>
    </div>
  </div>

  <!-- 防水介紹. -->
  <div class="module-container resistant-container">
    <div class="image-container">
      <img
        src="../../../public/images/section-design-water-resistant-small-2x.jpg"
        alt="water-resistant"
      />
    </div>

    <div class="text-container">
      <p>領先業界的 IP68 等級<br />防潑抗水功能</p>
    </div>
  </div>
</section>
